body {
  background-color: #708090;
  color: white;
    fontfamily:    Arial, Helvetica, sans-serif;
  margin: 5% 15%;
}
h2 {
  color: #FF7F50;
   background-color:#BDE5E1;
     text-align: center;
  border: 2px solid #FF7F50;
 
}
  
.job-title {
  border: 2px solid;
  background-color:#BDE5E1;
  text-align: center;
  color: #FF7F50;
}
.main-image {
  border: solid 3px #FF7F50;
  border-radius: 50%
}
.main-image:hover {
  transform: scale(1.1)
}
h2:hover {
  transform: scale(1.2)
}
.job-title:hover{
  transform: scale(1.2)
}
