body {
  background-color: #708090;
  color: white;
    fontfamily:    Arial, Helvetica, sans-serif;
  margin: 5% 15%;
}
h2 {
  color: #FF7F50;
   background-color:#BDE5E1;
     text-align: center;
  boder-top: 1px solid #FF7F50;
  border-bottom: 1px solid #FF7F50;
}
  
.job-title {
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color:#BDE5E1;
  text-align: center;
  color: #FF7F50;
}
